<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <article>
            <h1> Message Board </h1>
            <div>
                <button data-active=<%=location=="index" %> onclick="window.location='/';"
                    > Dashboard</button>
                <button data-active=<%=location=="new" %> onclick="window.location='/new';"
                    > Add Message</button>
            </div>
        </article>
    </nav>
    <main>
        <% if (location=="index" ) { %>
            <ul class="thread">
                <% messages.forEach(message=> { %>
                    <li>
                        <%- include('message', { user: message.user, added: message.added, title: message.title, text:
                            message.text, color1: message.color1, color2: message.color2, id: message.id }) %>
                    </li>
                    <% }); %>
            </ul>
            <% } else if (location=="new" ) { %>
                <%- include('form') %>
                    <% } else if (location=="message" ) { %>
                        <article class="message single-message">
                            <div>
                                <button onclick="window.location='/';">Return</button>
                                <div class="icon" style="background: linear-gradient(<%= color1 %>, <%= color2 %>)">
                                </div>
                                <span>
                                    <%= user %> - <%= added %>
                                </span>
                            </div>
                            <h3>
                                <%= title %>
                            </h3>
                            <p>
                                <%= text %>
                            </p>
                        </article>
                        <% } else if (location=='404' ) {%> 
                            <article class="error">
                                <h1>404</h1>
                                <h3>Cannot Find that Page</h3>
                            </article>    
                        <% } %>
    </main>
</body>

</html>

<!-- Handle cancel button -->
<script>
    document.getElementById('clear-button').onclick = function () {
        document.getElementById('form-user').value = '';
        document.getElementById('form-title').value = '';
        document.getElementById('form-message').value = '';
    };
</script>