<article class="message message-thread">
    <div>
        <div class="icon" style="background: linear-gradient(<%= color1 %>, <%= color2 %>)"></div>
        <span><%= user %> - <%= added %> </span>
    </div>
    <h3> <%= title %></h3>
    <p> <%= text %></p>
    <button onclick="window.location='/message/<%= id %>';"> Open </button>
</article>